*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
.header{
  background-color: rgb(2, 2, 71);
  color:aqua;
  width:100%;
  height:fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
  
  
}

h1{
  display:flex;
  justify-content:flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  background-color:aqua;
  width:fit-content;
  height:50px;
  color: black;
}

nav ul{
  display: flex;
  background-color: rgb(2, 2, 71) ;
  inline-size: 200;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  width:500px;
  font-size: large; 
}

 nav li{
  color:aqua;
  font-weight: bold;
}
.hero{
background-size: cover;
background-position: center;
display: flex;
align-items: center;
justify-content: space-around;
}
/*portfolio image styling*/
.portfolio{
  width: 100%;
  height:400px;
}
.container {
  position: relative;
  width: 100%;
  height: 400px;
}
/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color:aqua;
  color:black;
  padding-left: 20px;
  padding-right: 20px;
}
/*about-me section styling*/
.about-me{
  display:flex;
  justify-content:center;
  align-content:end ;
  align-items:stretch;
  padding-top:30px;

}
.about-me p{
  font-size:14pt;
  padding: 0 20px;
  line-height: 1.0;
  width:90%;
  padding-left:40%;
  padding-top:30px;
  
}
.title{
  display:flex;
  justify-content:space-between;
  align-items:end;
  flex-direction: column;
  width:40%;
  padding-top: 30px;
  border-right: 5px;
  border-color: aqua;
  
}
.my-work-title{
  display:flex;
  justify-content:space-between;
  align-items:end;
  align-content: end;
  flex-direction: column;
  width:40%;
  padding-top: 30px;
  border-right: 5px;
  border-color: aqua;
}
.my-work{
  display: flex;
  align-items:flex-start;
  align-content: end;
  justify-content: space-between;
  padding-top: 50px;
  flex-wrap: wrap;
}
.flex-pic{
  display:flex;
  padding-top: 50px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  position: relative;
  text-align: left;
  padding-right: 100px;
}
.inspect{
  display: flex;
  align-items: center;
  align-content: end;
  justify-content: space-between;
  height:400px;
  width:100%
}
.bottom-left{
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color:aqua;
  padding: 5px;
}

/*
.container1{
  position: relative;
  width: 100%;
  height: 600px;
}
.bottom-left{
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color:aqua;
    color:black;
    padding-left: 20px;
    padding-right: 20px;
}

.inspect{
  display:flex;
  justify-content:right;
  align-content: flex-end;
  align-items: end;
  width: 40%;
  height: 400px;
}
.small-pics{
  width: 25%;
  height: 200px;

}
.bottom-left{
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color:aqua;
  color:black;
  padding-left: 20px;
  padding-right: 20px;
}
footer
{
  background-color: rgb(2, 2, 71);
  color:aqua;
  width:100%;
  height:fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
}
footer nav ul{
  display: flex;
  background-color: rgb(2, 2, 71) ;
  inline-size: 200;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  width:500px;
  font-size: large;
}
 
